.why {
    background-color: #f8f3f4;
    height: 148px;
    &_content {
        display: flex;
        height: inherit;
        justify-content: space-between;
        align-items: center;
         p {
            font-size: 24px;
          line-height: 20px;
          font-weight: 900;
          text-transform: uppercase;
          color: #f16d7f;
          }
          a {
            font-size: 14px;
          line-height: 20px;
          font-weight: 300;
          text-transform: uppercase;
          color: #636363;
          }
          a:hover {
            color: $mainColor;
          }
      }
  }
  
  .cart-top {
      margin-top: 90px;
      margin-bottom: 15px;
      height: 12px;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      &__name {
          
          p {
            font-size: 13px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: -0.015em;
            color: #222222;
          }
      }
      &__name:first-of-type {
        width: 500px;
      }
  }
  
  .cart-element {
      height: 167px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #fafafa;
      &__info {
          display: inline-block;
          width: 500px;
          > div {
              padding-top: 10px;
              > a {
                font-size: 13px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #222222;
                margin-bottom: 38px;
              }
              > p:first-of-type {
                  padding-top: 38px;
              }
              > p {
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
                color: #575757;
              }
              span {
                font-size: 13px;
                font-weight: 300;
                color: #6f6e6e;
              }
          }
      }
     
  }

  img[alt="miniproduct"] {
      float: left;
      margin-right: 20px;
  }
  
 input[type="number"] {
     width: 54px;
     height: 30px;
     border: 1px solid #eaeaea;
     text-align: center;
 }

 img[alt="drop"] {
   margin-right: 22px;
   margin-left: 15px;
 }

 .cart-finish {
      display: flex;
      justify-content: space-between;
      margin-top: 43px;
      & a {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
        padding: 20px 38px;
        border: 1px solid #eaeaea;
        &:hover {
          background-color: $mainColor;
        }
      }
 }

 .cart-form {
   margin-top: 81px;
   max-height: 330px;
   display: flex;
  justify-content: space-between;
  & form {
    min-width: 355px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    & h4 {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #222222;
    }
    & p {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 300;
      color: #000000;
    }
    > input[type="text"] {
      width: inherit;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 300;
      color: hsl(0, 0%, 69%);
      height: 45px;
      outline: none;
      overflow: hidden;
      padding-left: 18px;
      border: 1px solid #eaeaea;
   }
   > input[type="submit"] {
     height: 45px;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    padding-left: 18px;
    padding-right: 18px;
    width: fit-content;
    border: 1px solid #eaeaea;
    &:hover {
      cursor: pointer;
    }
   }
    & select {
      width: inherit;
      height: 45px;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 300;
      color: #b1b1b1;
      padding-left: 18px;
      border: 1px solid #eaeaea;
    }
  }
  > #coupon {
    height: 185px;
  }
 }

 